<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
</head>
<body>

<h1>Employee</h1>

<h3>ID #<span th:text="${employee.id}"></span></h3>
<h3>name: <span th:text="${employee.name}"></span></h3>
<h3>surname: <span th:text="${employee.surname}"></span></h3>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Timesheets</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="timesheet : ${timesheets}">
        <td><span th:text="${timesheet.id}"></span></td>
        <td>
            <a th:href="@{'/home/projects/{id}'(id=${timesheet.projectId})}">
                Project Id #<span th:text="${timesheet.projectId}"></span>
            </a>
        </td>
        <td><span th:text="${timesheet.minutes}"></span></td>
        <td><span th:text="${timesheet.createdAt}"></span></td>
        <td><a th:href="@{'/home/timesheets/{id}'(id=${timesheet.id})}">Timesheet</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>